.vax-wrapper {
    outline:2px solid black;
    position: relative;
}

    .vax-canvas {
        position: absolute;
        background: url("vax-grid.jpg") #222 repeat;
    }

    .vax-scrollbar {
        position: absolute;
        background: #333;
    }

    .vax-horiz-scrollbar {
        height: 20px;
        bottom: 0px;
        left: 0;
        right: 20px;
    }

    .vax-vert-scrollbar {
        width: 20px;
        top: 0;
        right: 0px;
        bottom: 20px;
    }

        .vax-sb-slider {
            position: absolute;
            background: #666;
        }

            .vax-sb-slider:hover {
                background: #444;
            }

        .vax-horiz-sb-slider {
            left: 20px;
            height: 20px;
            cursor: e-resize;
        }

        .vax-vert-sb-slider {
            width: 20px;
            top: 20px;
            cursor: n-resize;
        }

        .vax-sb-spinner {
            position: absolute;
            width: 20px;
            height: 20px;
            background: #999;
            color: #222;
            text-align: center;
            cursor: pointer;
        }

            .vax-sb-spinner:hover {
                background: #777;
                color: #000;
            }

        .vax-hsb-left-spinner {
            top: 0;
            left: 0;
        }

        .vax-hsb-right-spinner {
            top: 0;
            right: 0;
        }

        .vax-vsb-top-spinner {
            top: 0;
            left: 0;
        }

        .vax-vsb-bottom-spinner {
            bottom: 0;
            left: 0;
        }

.vax-component-selector {
    position: absolute;
    width: 220px;
    height: auto;
    background: #111;
    border:2px solid black;
    border-radius: 2px;
    padding: 0px;
    box-shadow: #111 0 0 5px 2px;
}
    .vax-title {
        color: gray;
        font-family: "Georgia";
        font-variant: small-caps;
        font-weight: bold;
        font-size: 12pt;
        margin: 2px 0;
        border-bottom: 3px solid #444;
        padding: 5px;
    }

    .vax-component {
        color: white;
        margin: 2px 0;
        border-bottom: 1px solid #444;
        padding: 5px;
        font-family: "Tahoma";
        font-size: 10pt;
        font-weight: bold;
        cursor: pointer;
    }
        .vax-component:hover {
            background: orange;
            color: black;
        }


.vax-help {
    position: absolute;
    top: 30px;
    left: 30px;
    color: white;
    font-family: "Georgia";
    font-variant: small-caps;
    font-weight: bold;
    font-size: 14pt;
}

.vax-type-picker {
    position: absolute;
    background: #222;
    border-radius: 5px;
    width: auto;
    padding: 10px;
    z-index: 100;
    box-shadow: #000 0 0 2px 1px;
    left: 600px;

}


    .vax-type-picker-title {
        color: white;
        font-weight: bold;
        font-size: 12pt;
    }

    .vax-type-picker-select {
        width: 100px;
        text-align: right;
    }

    .vax-type-picker-punct {
        color: white;
        font-size: 18pt;
        vertical-align: bottom;
        font-weight: bold;
    }

    .vax-type-picker-buttons {
        text-align: right;
    }

    .vax-type-picker-signature {
        font-family: Tahoma;
        color: orange;
        font-size: 12pt;
    }

